{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'main/img/home-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Мои контакты</h1>
                            <span class="subheading">Если у вас есть вопросы, пожалуйста свяжитесь со мной</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}


{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" id="contacts">
                <p>Мобильный телефон: {{ user.Phone }}</p>
                <p>e-mail: {{ user.email }}</p>
            </div>
             <div class="col-md-6" >
                <form method="post" enctype="multipart/form-data" id="user_login_form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><button type="submit" class="btn btn-primary">Отправить</button></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}