{% load categories_tags %}


<div class="container-fluid" id="categories_bar">
    <div class="row">
        <ul>
            <div class="col-md-2">
            </div>

            <div class="col-md-1 text-center">
                <li><a href="{% url 'blog' %}">Все</a></li>
            </div>
            {% get_categories as categories %}
            {% for el in categories %}
            <div class="col-md-1 text-center">
                <li><a href="{{ el.get_absolute_url }}">{{ el.category }}</a></li>
            </div>{% endfor %}
            {% if request.user.is_authenticated %}
                <div class="col-md-1 text-center">
                    <li><a href="{% url 'news_add' %}">+ Добавить новость</a></li>
                </div>
            {% endif %}
        </ul>
    </div>
</div>






