<div class="container-fluid" id="news">
    <div id="news_card" class="card text-center">
        {% for el in news %}
            <div class="card-body">

                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            {% if el.image %}
                                <a href="{{ el.get_absolute_url }}"><img src="{{ el.image.url }}"></a>
                            {% endif %}
                            <div class="carousel-caption d-none d-sm-block">
                                <p>{{ el.category }}</p>
                                <a class="h5" href="{{ el.get_absolute_url }}">{{ el.header }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="card-text">{{ el.annotation }}</p>
            </div>
        <div class="card-footer text-muted">
            {{ el.created_at }}
        </div>
        {% endfor %}
    </div>
</div>



