{% load categories_tags %}

<!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    {% for el in page_obj.object_list %}
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1"><a href="{{ el.get_absolute_url }}">{{ el.header }}</a></h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Опубликовано {{ el.created_at }}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="{{ el.category.get_absolute_url }}">{{ el.category }}</a>
                        </header>
                        <!-- Preview image figure-->
                        {% if el.image %}
                            <figure class="mb-4"><img class="img-fluid rounded" src="{{ el.image.url }}"/></figure>
                        {% endif %}
                        {% if el.image_url %}
                            <figure class="mb-4"><img class="img-fluid rounded" src="{{ el.image_url }}"/></figure>
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ el.annotation }}</p>
                        </section>
                    </article>
                    {% endfor %}
                </div>

                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Поиск</div>
                        <div class="card-body">
                            <div class="input-group">
                                <form class="navbar-form mx-auto" role="search" action="{% url 'search' %}" method="get">
                                    <input class="form-control" type="text" placeholder="Поиск новостей..." aria-label="Поиск новостей..." aria-describedby="button-search" name="s"/>
                                    <br>
                                    <button class="btn btn-primary" id="button-search" type="submit">Найти</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Категории</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        {% get_categories as categories %}
                                        {% for el in categories %}
                                        <li><a href="{{ el.get_absolute_url }}">{{ el.category }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'blog' %}">Все</a></li>
                                        {% if request.user.is_authenticated %}
                                            <li><a href="{% url 'news_add' %}">Добавить новость</a></li>
                                            <li><a href="{% url 'parse' %}">Парсинг новостей с "Хабр"</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
