<ul class="topbar">
  <li><a href="{% url 'home' %}" class="left">Обо мне</a></li>
  <li><a href="{% url 'blog' %}" class="left">Блог</a></li>
  <li><a href="{% url 'contacts' %}" class="left">Контакты</a></li>
  {% if request.user.is_authenticated %}
    <li><a href="{% url 'user_logout' %}" class="right">Выйти</a></li>
    <li><a href="#" class="right">Добро пожаловать, {{ user.first_name }}</a></li>
  {% else %}
    <li><a href="{% url 'user_registration' %}" class="right">Зарегистрироваться</a></li>
    <li><a href="{% url 'user_login' %}" class="right">Войти</a></li>
  {% endif %}
</ul>