{% load static %}
{% load user_tags %}


<html>
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">

  <title>{{ user.first_name }} {{ user.last_name }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'main/img/favicon.png' %}" rel="icon">
  <link href="{% static 'main/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href= "{% static 'main/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'main/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
</head>

<body>


<div class="header">
  {% block header %}
  {% endblock %}
</div>


{% include 'main/inc/_topbar.html' %}


<div class="row">
  {% block side %}
  {% endblock %}

  {% block main %}
  {% endblock %}
</div>


<div class="footer">
  {% block footer %}
  {% endblock %}
</div>






  <script src="{% static 'main/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'main/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/lib/php-mail-form/validate.js' %}"></script>
  <script src="{% static 'main/lib/chart/chart.js' %}"></script>
  <script src="{% static 'main/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'main/js/main.js' %}"></script>

</body>
</html>
