{% extends 'main/base.html' %}
{% load static %}


{% block headerwrap %}
<div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <h1>Новости</h1>
        </div>
        <!--/.col-lg-12 -->
      </div>
      <!--/.row -->
    </div>
    <!--/.container -->
  </div>
  <!--/.#headerwrap -->
{% endblock %}


{% block top %}
<section id="about" name="about">
    <div id="intro">
      <div class="container">
            <p>Самые актуальные новости интернета</p>
      </div>
      <!--/.container -->
    </div>
    <!--/ #intro -->
  </section>
{% endblock %}