{% extends 'main/base.html' %}
{% load static %}

{% block headerwrap %}
<div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <h1>Егор Филатов</h1>
          <h3>Инженер-программист | egor.filatov@live.com</h3>
        </div>
        <!--/.col-lg-12 -->
      </div>
      <!--/.row -->
    </div>
    <!--/.container -->
  </div>
  <!--/.#headerwrap -->
{% endblock %}


{% block about %}
<section id="about" name="about">
    <div id="intro">
      <div class="container">
        <div class="row">

          <div class="col-lg-2 col-lg-offset-1">
            <h5>Обо мне</h5>
          </div>
          <div class="col-lg-6">
            <p>I'm web designer & front-end developer with 7 years of professional experience. I'm interested in all kinds of visual communication, but my major focus is on designing web, mobile & tablet interfaces. I also have skills in other fields like
              branding, icon design or web development.</p>
          </div>
          <div class="col-lg-3">
            <p><a href="#"><i class="icon-file"></i></a>
              <sm>DOWNLOAD PDF</sm>
            </p>
          </div>

        </div>
        <!--/.row -->
      </div>
      <!--/.container -->
    </div>
    <!--/ #intro -->
  </section>
{% endblock %}
