{% extends 'main/base.html' %}
{% load static %}
{% load user_tags %}


{% block headerwrap %}
<div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <h1>{{ user.first_name }} {{ user.last_name }}</h1>
          <h3>{{ user.profession }} | {{ user.email }}</h3>
        </div>
        <!--/.col-lg-12 -->
      </div>
      <!--/.row -->
    </div>
    <!--/.container -->
  </div>
  <!--/.#headerwrap -->
{% endblock %}


{% block top %}
<section id="about" name="about">
    <div id="intro">
      <div class="container">
        <div class="row">

          <div class="col-lg-2 col-lg-offset-1">
            <h5>Обо мне</h5>
          </div>
          <div class="col-lg-6">
            <p>{{ user.about }}</p>
          </div>
          <div class="col-lg-3">
            <p><a href="#"><i class="icon-file"></i></a>
              <sm>Скачать резюме</sm>
            </p>
          </div>

        </div>
        <!--/.row -->
      </div>
      <!--/.container -->
    </div>
    <!--/ #intro -->
  </section>
{% endblock %}



{% block main %}
<section id="resume" name="resume">
    <!--EDUCATION DESCRIPTION -->
    <div class="container desc">
      <div class="row">
          <h5>Образование</h5>
          {% get_education as education %}
          {% for el in education %}
          <p>
            <t>{{ el.degree }}</t><br/> {{ el.place_of_study }} <br/>
          </p>
          <p>
            <sm>{{ el.date_of_admission }}</sm><br/>
            <imp>
              <sm>{{ el.date_of_graduation }}</sm>
            </imp>
          </p>
          {% endfor %}
      </div>
      <!--/.row -->
      <br>
      <hr>
    </div>
    <!--/.container -->
  </section>


  <!--WORK DESCRIPTION -->
  <div class="container desc">
    <div class="row">
        <h5>Работа</h5>
        {% get_work_experiance as work %}
        {% for el in work %}
        <p>
          <t>{{ el.position }}</t><br/> {{ el.company }} <br/>
        </p>
        <p>
          <more>{{ el.responsibilities }}</more>
        </p>
        <p>
          <sm>{{ el.date_of_employment }}</sm><br/>
            <imp>
              <sm>{{ el.date_of_dismissal }}</sm>
            </imp>
        </p>
        {% endfor %}
    </div>
    <!--/.row -->
    <br>
    <hr>
  </div>
  <!--/.container -->
{% endblock %}


{% block buttom %}
<!--SKILLS DESCRIPTION -->
  <div id="skillswrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <h5>SKILLS</h5>
        </div>
        <div class="col-lg-3 centered">
          <canvas id="javascript" height="130" width="130"></canvas>
          <p>Javascript</p>
          <br>
        </div>
        <div class="col-lg-3 centered">
          <canvas id="bootstrap" height="130" width="130"></canvas>
          <p>Bootstrap</p>
          <br>
        </div>
        <div class="col-lg-3 centered">
          <canvas id="wordpress" height="130" width="130"></canvas>
          <p>Wordpress</p>
          <br>
        </div>

        <div class="col-lg-3 col-lg-offset-3 centered">
          <canvas id="html" height="130" width="130"></canvas>
          <p>HTML/CSS</p>
          <br>
        </div>
        <div class="col-lg-3 centered">
          <canvas id="photoshop" height="130" width="130"></canvas>
          <p>Photoshop</p>
          <br>
        </div>
        <div class="col-lg-3 centered">
          <canvas id="illustrator" height="130" width="130"></canvas>
          <p>Illustrator</p>
          <br>
        </div>

      </div>
      <!--/.row -->
      <br>
    </div>
    <!--/.container -->
  </div>
  <!--/ #skillswrap -->
{% endblock %}