{% extends 'main/base.html' %}
{% load static %}
{% load user_tags %}


{% block header %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'main/img/about-bg.png' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                            <span class="subheading">{{ user.profession }} | {{ user.email }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}


{% block main %}
<div class="container px-4 px-lg-5">
    <div class="row gx-2 gx-lg-3 justify-content-center">
        <div class="col-md-12 col-lg-11 col-xl-10 text-center">
            <p>{{ user.about }}</p>
            <a href="#" class="btn btn-primary">Скачать резюме</a>
        </div>
    </div>
</div>
<br>
<hr>


<div class="container-fluid" id="education">
    <h2>Моё образование:</h2>
    <br>
    <div class="row">
        {% get_education as education %}
        {% for el in education %}
        <div class="col-md-8">
            <h5>{{ el.degree }}</h5>
            <a>{{ el.place_of_study }}</a>
        </div>
        <br>
        <br>
        <br>


        <div class="col-md-4">
            <a>{{ el.date_of_admission }}-{{ el.date_of_graduation }}</a>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<hr>

<div class="container-fluid" id="work">
    <h2>Опыт работы:</h2>
    <br>
    <div class="row">
        {% get_work_experiance as work %}
        {% for el in work %}
        <div class="col-md-8">
            <h5>{{ el.position }}</h5>
            <a>{{ el.company }}</a><br>
            <div class="text-muted fst-italic mb-2">{{ el.responsibilities }}</div>
        </div>
        <br>
        <br>
        <br>
        <br>



        <div class="col-md-4">
            <a>{{ el.date_of_employment }}-{{ el.date_of_dismissal }}</a>
        </div>
        {% endfor %}
    </div>
</div>
<br>
{% endblock %}



