{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'main/img/home-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Редактирование новостей</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}


{% block main %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- to get an API token!-->
                    <form method="post" enctype="multipart/form-data" id="contactForm">
                        {% csrf_token %}
                        {{ form.media }}


                        <label for="header">Заголовок</label>
                        {{ form.header }}
                        {{ form.header.errors }}
                        <br/>

                        <label for="{{ form.annotation.id_for_label }}">Аннотация</label>
                        {{ form.annotation }}
                        {{ form.annotation.errors }}
                        <br/>

                        <label for="{{ form.full_text.id_for_label }}">Текст статьи</label>
                        {{ form.full_text }}
                        {{ form.full_text.errors }}
                        <br/>
                        <br/>

                        <label for="{{ form.image.id_for_label }}">Изображение</label>
                        {{ form.image }}
                        {{ form.image.errors }}
                        <br/>

                        <label for="{{ form.category.id_for_label }}">Категория</label>
                        <br/>
                        {{ form.category }}
                        {{ form.category.errors }}
                        <br/>
                        <br/>

                        <button class="btn btn-primary" id="submitButton" type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}