{% extends 'main/base.html' %}
{% load static %}


{% block headerwrap %}
<div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <h1>Новости</h1>
        </div>
        <!--/.col-lg-12 -->
      </div>
      <!--/.row -->
    </div>
    <!--/.container -->
  </div>
  <!--/.#headerwrap -->
{% endblock %}


{% block main %}
<form method="post" id="news_add_form">
    {% csrf_token %}
    {{ error.as_p }}
    {{ form.as_p }}
    {{ error.as_p }}
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
{% endblock %}