{% extends 'main/base.html' %}
{% load static %}


{% block header %}
    <div class="container-fluid" id="header">
        <h1>Добавить новость</h1>
    </div>
{% endblock %}


{% block main %}
    <div class="container-fluid" id="news_add">
        <form method="post" enctype="multipart/form-data" id="news_add_form">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit" class="btn btn-primary">Добавить</button></p>
        </form>

    </div>
{% endblock %}