{% extends 'main/base.html' %}
{% load static %}

{% block main %}
    {% include 'main/inc/_categories_bar.html' %}
    <div class="container-fluid" id="news_detail">
        <div id="news_card" class="card text-center">
                <div class="card-body">

                    <div class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% if el.image %}
                                    <a href="{{ el.get_absolute_url }}"><img src="{{ news.image.url }}"></a>
                                {% endif %}
                                <div class="carousel-caption d-none d-sm-block">
                                    <p>{{ news.category }}</p>
                                    <a class="h5" href="{{ el.get_absolute_url }}">{{ news.header }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>{{ news.full_text }}</p>
                    <a href="{% url 'news_update' news.pk %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'news_delete' news.pk %}" class="btn btn-primary">Удалить</a>
                </div>
            <div class="card-footer text-muted">
                {{ el.created_at }}
            </div>
        </div>
    </div>
{% endblock %}

