{% extends 'main/base.html' %}
{% load static %}

{% block main %}
    {% include 'main/inc/_categories_bar.html' %}
    <div class="container-fluid" id="news_detail">
        <div class="card text-center">
            <div class="card-body">
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            {% if news.image %}
                            <img src="{{ news.image.url }}">
                            {% endif %}
                            <div class="carousel-caption d-none d-sm-block">
                                <p>{{ el.category }}</p>
                                <a class="h5">{{ news.header }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-text">{{ news.full_text }}</p>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'news_update' news.pk %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'news_delete' news.pk %}" class="btn btn-primary">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

























