@charset "utf-8"

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    font-family: "Times New Roman", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

header, footer{
    width: 100%;
    min-height: 50px;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #333;
}


a {
  color: #1abc9c;
  text-decoration: none;
  transition: color 0.3s ease-in, background 0.1s ease-in;
  -webkit-transition: color 0.3s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.3s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.3s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}


a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}


#topbar {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
  background:#111; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 50px; /*задаем высоту*/
}
#topbar a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#111; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color:#fff; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: inline-block;
  border-right: 1px solid #222; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
#topbar a:hover {
  background:#222;/*добавляем эффект при наведении*/
}
#topbar li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}







